<h1 align="center">All Chains</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <% @chains.each do |chain| %>
        <div class="well">
            <strong><%= chain.user.username %></strong>
            <%= chain.name %>
            </br>
            <small><%= chain.pledge %></small>
        </div>
        <% end %>
    </div>
</div>
