<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <%= @category.name %>
            <%= @category.created_at %>
            <%= @category.updated_at %>
        </div>
    </div>
</div>