<hr>
<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <%= link_to "GoalPositive", root_path %>
            <nav class="navbar-right">
                <ul>
                    <%= link_to "About", about_path %>
                </ul>
            </nav>
        </small>
    </footer>
</div>


