<hr>
<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <%= link_to "GoalPositive", root_path %>
        </small>
        <nav class="navbar-right">
            <small align="right">
                <%= link_to "About", about_path %>
            </small>
        </nav>
    </footer>
</div>


